.container {
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 10px; 
}

.block {
  /* стилі блоків */  
}

/* Медіа-запити */

@media (min-width: 992px) {
  .col-lg-3 {flex-basis: 25%}
  .col-lg-12 {flex-basis: 100%;} 
}

@media (max-width: 992px) {
  .col-md-6 {flex-basis: 50%;}
}

@media (max-width: 768px) {
  .col-sm-12 {flex-basis: 100%;}
}